.pokemon-loading-container {
  border: 1px solid black;
  position: fixed;
  height: 100%;
  width: 100%;
  margin: auto;
  left: 0;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  opacity: 0.6;
  pointer-events: visible;
}

.pokemon-loading-container > img {
  position: absolute;
  width: 100px;
  animation: infinite loading-animation 2s cubic-bezier(0.66, 0, 0.19, 1);
}

@keyframes loading-animation {
  0% {
    opacity: 0;
    transform: scale(1) translateY(0) rotate(0);
  }
  10% {
    transform: translateY(10px);
  }
  25% {
    transform: translateY(0px);
  }
  32% {
    transform: translateY(10px);
  }
  50% {
    opacity: 1;
    transform: scale(1.1) rotate(360deg);
  }
  100% {
    opacity: 0;
    transform: scale(1) rotate(0);
  }
}
